{% extends "index.html" %}

{% block content %}
    <h1>Liste des groupes</h1>
    <a href="{%url 'add-groupe' %}" type="button" class="btn btn-primary">Ajouter un groupe</a>
    <a href="{%url 'delete-groupe' %}" type="button" class="btn btn-primary">Supprimer un groupe</a>
    {% if groupes %}
    <ul>
        {% for groupe in groupes %}
            <a href="{% url 'groupe-detail' groupe.id %}"> {{groupe.nom}} </a>
            </br>
        {% endfor %}
    </ul>
    {% else %}
        <p>Il n'y a pas de groupe.</p>
    {% endif %}
{% endblock %}